/* Estilos para el cuerpo de la página */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Estilos para el contenido principal (columnas) */
main {
    display: flex;
    flex: 1; /* Permite que el contenido principal se expanda para llenar el espacio */
    width: 100%;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente */
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

#column1, #column3 {
    width: 20%;
    background-color: grey;
}

#column2 {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

#contentDiv {
    flex: 1; /* Permite que el contenidoDiv se expanda para llenar el espacio */
    width: 100%;
    align-items: center;
    justify-content: center;
}

#buttonDiv {
    flex: 1; /* Permite que el buttonDiv se expanda para llenar el espacio */
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

#resolucion, #humano, #ordenadorOpcion, #resetPlay, #contadorPlayer, #guion, #contadorComputer {
    margin: 10px; /* Añade espacio entre los elementos dentro de los divs */
}

#contadorPlayer, #contadorComputer, #guion {
    font-size: 90px !important;
}

#humano, #ordenadorOpcion {
    background-color: transparent !important;
    width: 140px;
    height: 140px;
    border: none; /* Agrega un borde para que sean visibles */
}

/* Estilos para el encabezado y pie de página */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%; /* Ancho completo para el encabezado y pie de página */
}

img {
    padding: 5px;
    height: 130px;
	width: 130px;
    transition: all 0.3s; /* Agrega una transición suave */
  }

  /* Estilo cuando el cursor pasa por encima de la imagen */
  img:hover {
    width: 180px;
    height: 180px;
  }

.content{
    align-items: center;
    justify-content: center;
    background-color: transparent !important; /* Establece el fondo como transparente */
    border: none; /* Agrega un borde para que sea visible */
    padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
}

.containerImage{
    display: flex; /* Utiliza flexbox para alinear contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    cursor: pointer;
    border-radius: 80px;
}

.bloqueado {
    pointer-events: none; /* Evita eventos del ratón */
    background-color: #ccc; /* Cambia el color de fondo */
}

.containerImage.selected{
    background-color: gainsboro
}