/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center; /* Centrar el contenido horizontalmente */
    justify-content: center; /* Centrar el contenido verticalmente */
}

/* Estilos para el contenido principal (columnas) */
main {
    display: flex;
    justify-content: space-between;
    width: 100%; /* El 80% para la sección principal */
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

#column1, #column3 {
    width: 20%; /* El 20% para las columnas laterales */
}

#column2 {
    flex: 4; /* El 80% para la columna central */
}

/* Estilos para el encabezado y pie de página */
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%; /* Ancho completo para el encabezado y pie de página */
}

.image{
	height: 130px;
	width: 130px;
	border-radius: 50px;
	align-items: center;
}

.bloqueado {
    pointer-events: none; /* Evita eventos del ratón */
    background-color: #ccc; /* Cambia el color de fondo */
}